.strip {
  border: .5px solid #999; }

.list-active {
  font-weight: bold;
  color: #000; }

.list-active-mobile {
  font-weight: bold;
  color: orange !important; }

.orange {
  color: orange; }

.navbar-mobile {
  padding-right: 20px; }
  @media screen and (min-width: 768px) {
    .navbar-mobile {
      display: none; } }

.sidebar {
  height: 100vh;
  position: fixed;
  width: 200px;
  border-right: .5px dotted #fefefe;
  padding: 30px 20px;
  background: #fdfdfd; }
  @media screen and (max-width: 768px) {
    .sidebar {
      display: none; } }
  .sidebar .wrapper-menu p {
    font-family: "Quicksand", sans-serif;
    color: #777;
    text-align: center;
    font-size: 14px; }
  .sidebar .wrapper-menu .menu,
  .sidebar .wrapper-menu .sub-menu-one,
  .sidebar .wrapper-menu .sub-menu-two,
  .sidebar .wrapper-menu .sub-menu-three,
  .sidebar .wrapper-menu .sub-menu-four {
    list-style-type: none; }
  .sidebar .wrapper-menu .menu {
    padding: 15px;
    font-family: "Quicksand", sans-serif;
    overflow: auto;
    cursor: pointer; }
    .sidebar .wrapper-menu .menu .fas {
      color: #000; }
    .sidebar .wrapper-menu .menu a {
      color: #333;
      font-size: 14px;
      text-decoration: none; }
    .sidebar .wrapper-menu .menu a:hover {
      font-weight: bold;
      text-decoration: none; }
    .sidebar .wrapper-menu .menu .sub-menu-one {
      padding-top: 10px;
      padding-left: 25px; }
      .sidebar .wrapper-menu .menu .sub-menu-one li {
        padding-bottom: 5px; }
        .sidebar .wrapper-menu .menu .sub-menu-one li a {
          color: #333;
          font-size: 14px; }
    .sidebar .wrapper-menu .menu .sub-menu-two {
      display: none;
      padding-top: 10px;
      padding-left: 25px; }
      .sidebar .wrapper-menu .menu .sub-menu-two li {
        padding-bottom: 5px; }
        .sidebar .wrapper-menu .menu .sub-menu-two li a {
          color: #333;
          font-size: 14px; }
    .sidebar .wrapper-menu .menu .sub-menu-three {
      display: none;
      padding-top: 10px;
      padding-left: 25px; }
      .sidebar .wrapper-menu .menu .sub-menu-three li {
        padding-bottom: 5px; }
        .sidebar .wrapper-menu .menu .sub-menu-three li a {
          color: #333;
          font-size: 14px; }
    .sidebar .wrapper-menu .menu .sub-menu-four {
      display: none;
      padding-top: 10px;
      padding-left: 25px; }
      .sidebar .wrapper-menu .menu .sub-menu-four li {
        padding-bottom: 5px; }
        .sidebar .wrapper-menu .menu .sub-menu-four li a {
          color: #333;
          font-size: 14px; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background: #121212; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: orange;
    text-decoration: none; }
  .sidenav .menu,
  .sidenav .sub-menu-one,
  .sidenav .sub-menu-two,
  .sidenav .sub-menu-three,
  .sidenav .sub-menu-four {
    list-style-type: none; }
  .sidenav .menu {
    padding: 15px;
    font-family: "Quicksand", sans-serif;
    overflow: auto;
    cursor: pointer; }
    .sidenav .menu .fas {
      color: #fff; }
    .sidenav .menu a {
      color: #fff;
      font-size: 14px;
      text-decoration: none; }
    .sidenav .menu a:hover {
      font-weight: bold;
      text-decoration: none; }
    .sidenav .menu .sub-menu-one {
      padding-top: 10px;
      padding-left: 25px; }
      .sidenav .menu .sub-menu-one li {
        padding-bottom: 5px; }
        .sidenav .menu .sub-menu-one li a {
          color: #fff;
          font-size: 14px; }
    .sidenav .menu .sub-menu-two {
      display: none;
      padding-top: 10px;
      padding-left: 25px; }
      .sidenav .menu .sub-menu-two li {
        padding-bottom: 5px; }
        .sidenav .menu .sub-menu-two li a {
          color: #fff;
          font-size: 14px; }
    .sidenav .menu .sub-menu-three {
      display: none;
      padding-top: 10px;
      padding-left: 25px; }
      .sidenav .menu .sub-menu-three li {
        padding-bottom: 5px; }
        .sidenav .menu .sub-menu-three li a {
          color: #fff;
          font-size: 14px; }
    .sidenav .menu .sub-menu-four {
      display: none;
      padding-top: 10px;
      padding-left: 25px; }
      .sidenav .menu .sub-menu-four li {
        padding-bottom: 5px; }
        .sidenav .menu .sub-menu-four li a {
          color: #fff;
          font-size: 14px; }
