$main-font: 'Titillium Web', sans-serif;
$second-font : 'Quicksand', sans-serif;
.strip{
	border: .5px solid #999;
}
.list-active{
	font-weight: bold;
	color: #000;
}
.list-active-mobile{
	font-weight: bold;
	color: orange !important;
}
.orange{
	color: orange;
}
.navbar-mobile{
	padding-right: 20px;
	@media screen and (min-width: 768px) {
		display: none;
	}
}

.sidebar{
	height: 100vh;
	position: fixed;
	width: 200px;
	border-right: .5px dotted #fefefe;
	padding: 30px 20px;
	background: #fdfdfd;
	@media screen and (max-width: 768px) {
		display: none;
	}
	.wrapper-menu{
		p{
			font-family: $second-font;
			color: #777;
			text-align: center;
			font-size: 14px;
		}
		.menu,
		.sub-menu-one,
		.sub-menu-two,
		.sub-menu-three,
		.sub-menu-four{
			list-style-type: none;
		}
		.menu{
			padding: 15px;
			font-family: $second-font;
			overflow: auto;
			cursor: pointer;
			.fas{
				color: #000;
			}
			a{
				color: #333;
				font-size: 14px;
				text-decoration: none;
			}
			a:hover{
				font-weight: bold;
				text-decoration: none;
			}
			.sub-menu-one{
				padding-top: 10px;
				padding-left: 25px;
				li{
					padding-bottom: 5px;
					a{
						color: #333;
						font-size: 14px;
					}
				}
			}
			.sub-menu-two{
				display: none;
				padding-top: 10px;
				padding-left: 25px;
				li{
					padding-bottom: 5px;
					a{
						color: #333;
						font-size: 14px;
					}
				}
			}
			.sub-menu-three{
				display: none;
				padding-top: 10px;
				padding-left: 25px;
				li{
					padding-bottom: 5px;
					a{
						color: #333;
						font-size: 14px;
					}
				}
			}
			.sub-menu-four{
				display: none;
				padding-top: 10px;
				padding-left: 25px;
				li{
					padding-bottom: 5px;
					a{
						color: #333;
						font-size: 14px;
					}
				}
			}
		}
	}
}

.sidenav{
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x : hidden;
    transition: 0.5s;
    padding-top: 60px;
   
	background: #121212;
	.closebtn{
		position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	    color: orange;
	    text-decoration: none;
	}
	.menu,
	.sub-menu-one,
	.sub-menu-two,
	.sub-menu-three,
	.sub-menu-four{
		list-style-type: none;
	}
	.menu{
		padding: 15px;
		font-family: $second-font;
		overflow: auto;
		cursor: pointer;
		.fas{
			color: #fff;
		}
		a{
			color: #fff;
			font-size: 14px;
			text-decoration: none;
		}
		a:hover{
			font-weight: bold;
			text-decoration: none;
		}
		.sub-menu-one{
			padding-top: 10px;
			padding-left: 25px;
			li{
				padding-bottom: 5px;
				a{
					color: #fff;
					font-size: 14px;
				}
			}
		}
		.sub-menu-two{
			display: none;
			padding-top: 10px;
			padding-left: 25px;
			li{
				padding-bottom: 5px;
				a{
					color: #fff;
					font-size: 14px;
				}
			}
		}
		.sub-menu-three{
			display: none;
			padding-top: 10px;
			padding-left: 25px;
			li{
				padding-bottom: 5px;
				a{
					color: #fff;
					font-size: 14px;
				}
			}
		}
		.sub-menu-four{
			display: none;
			padding-top: 10px;
			padding-left: 25px;
			li{
				padding-bottom: 5px;
				a{
					color: #fff;
					font-size: 14px;
				}
			}
		}
	}
}

